
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
@model AdChimeProject.Contacts


<head>
    <style>
        .formulariologin {
            padding-top: 10px;
        }

        ::-webkit-input-placeholder {
            color: red;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: red;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: red;
        }

        :-ms-input-placeholder {
            color: red;
        }


        .btncls {
            background-color: #3A4F5E;
            border: #2e6da4;
            font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #fff;
            letter-spacing: 1px;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: normal;
            border-radius: 4px;
            line-height: 1.5;
            text-decoration: none;
            /*Transition*/
            -webkit-transition: All 0.5s ease;
            -moz-transition: All 0.5s ease;
            -o-transition: All 0.5s ease;
            -ms-transition: All 0.5s ease;
            transition: All 0.5s ease;
        }

            .btncls:hover {
                background-color: #87A2B6;
                border: #2e6da4;
                font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
                font-size: 15px;
                color: #000;
                letter-spacing: 1px;
                padding: 8px 12px;
                font-size: 14px;
                font-weight: normal;
                border-radius: 4px;
                line-height: 1.5;
                text-decoration: none;
            }
    </style>
</head>

<body>
    <div class="container" style="padding-top: 5%;">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1000px !important;">
            <div class="modal-content" style="">
                <div class="modal-body" style="padding-top: 0px; padding-right: 5px; padding-left: 5px; padding-bottom: 5px;">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10">

                            <div class="row">

                                <div style="width:100%;">

                                    @using (Html.BeginForm())
                                    {
                                    <div class="form-horizontal">
                                        <h4>Student</h4>
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.idContact)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CountryCodePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CountryCodePhone, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.bActive, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.bActive, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.optinSMS, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.optinSMS, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>}


                                </div>

                            </div>


                        </div>
                        <div class="col-md-1" style="text-align: right;">
                            <span onclick="$('#modalviewdetails').modal('hide'); $('#modalviewdetails').removeClass('show'); $('#modalviewdetails').css('display', 'none');" class="w3-button w3-display-topright" style="font-size: 20px;color: black;">
                                X
                            </span>
                        </div>
                    </div>




                </div><!-- /.modal-content -->

            </div><!-- /.modal-dialog -->
        </div><!-- /.modal-dialog -->
    </div>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $(".select2-multiple_1").select2({
            allowClear: true,
            placeholder: "Select option"
        });
    });

    $(function () {
        $(".select2-multiplethird_1").select2({
            allowClear: true,
            placeholder: "Select option/options"
        });
    });




    $(function () {
        $("#countriesselect").select2({
            allowClear: true
        });
    });



</script>
