@model AdChimeProject.tCampaign


@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<!-- slider_area_end -->
<!-- about_area_start -->
<div style="margin-top:20px;">
    <div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12" style="padding-left: 10px;">
                    <a href="@Url.Action("NewCampaign", "Home", null)" style="text-decoration:none;">
                        <img src="~/Images/AddNew.png" style="width: 30px;" /> <span style="color:#E10028;">Create NEW Campaign</span>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("MyCampaigns", "Home", null)" style="text-decoration:none;">
                        <img src="~/Images/MyLists.png" style="width: 30px;" /> <span style="color:#999999;">My Campaigns</span>
                    </a>
                    <br /><br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-2">

                    <p style="color:#E10028;">NEW campaign</p>
                </div>
                <div class="col-md-10">

                </div>

            </div>


            <div class="row">

                <div class="col-md-1 col-sm-12">

                </div>
                <div class="col-md-5 col-sm-5">

                    @using (Html.BeginForm("NewCampaign", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", style = "background-color: rgba(255, 255, 255, 0.6);" }))
                    {
        @Html.AntiForgeryToken()


                        <div class="form-horizontal">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Name" style="padding-top: 0px;">Campaign Name</label>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            @Html.TextBoxFor(m => m.TitleCampaing, new { @class = "form-control", @required = "required", @style = "width: 95%;" })
                                            @Html.ValidationMessageFor(m => m.TitleCampaing, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2" style="padding-top: 4px;padding-left: 5px;padding-right: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Name">Description of Campaign</label>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @required = "required", @style = "width: 95%;" })
                                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-2" style="padding-top: 2px; padding-left: 2px; padding-right: 2px;">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Name">SMS From</label>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            @Html.TextBoxFor(m => m.Sender, new { @class = "form-control", @required = "required", @style = "width: 95%;" })
                                            @Html.ValidationMessageFor(m => m.Sender, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2" style="padding-top: 4px;padding-left: 5px;padding-right: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Name">SMS Text</label>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @required = "required", @readonly = "readonly", @style = "width: 95%;" })
                                            @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-2" style="padding-top: 2px; padding-left: 2px; padding-right: 2px; text-align: center; border: 1px solid grey; margin-top: 5px; font-size: 13px;">
                                            <a data-toggle="modal" href="#modalchoosesms" class="choosetemplatesmsanchor">Select Template</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="display:none;">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="Name">Template</label>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            @Html.TextBoxFor(m => m.idtemplate, new { @class = "form-control", @required = "required", @readonly = "readonly", @style = "width: 95%;" })
                                            @Html.ValidationMessageFor(m => m.idtemplate, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-2" style="padding-top: 4px;padding-left: 5px;padding-right: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3" style="padding-top: 4px;padding-left: 5px;padding-right: 0px;">
                                        </div>
                                        <div class="col-md-7" style="padding-top: 4px; padding-right: 0px;">
                                            <br />
                                            <input type="submit" onclick="return validateForm();" class="btn btn-primary btn-block btn-lg" value="Submit" style="width: 95%; background-color: #CC0033; border-color: #CC0033;">

                                        </div>
                                        <div class="col-md-2" style="padding-top: 4px;padding-left: 5px;padding-right: 0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div> @*     <input type="submit" onclick="return validateForm();" class="btn btn-primary btn-block btn-lg" value="Submit"> @*<div class="text-center small">Don't have an account? <a href="#">Sign up</a></div>*@}


                </div>


                <div class="col-md-6 col-sm-7">

                    <div class="smartphone" style="margin-top: 5px;">

                        <div class="content">
                            <div id="smartphoneSender" style="width:173px; height:23px; text-align: center;background-color: aliceblue;padding-top: 10px;font-size: 15px;color: grey;"></div>
                            <textarea name="cellphonetextarea" placeholder="The text you select will appear here" maxlength="829" rows="5" cols="25" class="mensagem contador-txt" style="width: 172px;height:205px;font-size:12px;resize: none;background-color:#D9EEF2; "></textarea>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
<!-- about_area_end -->
<br />
<br />


<div id="modalchoosesms" class="modal fade" data-backdrop="false" role="dialog" style="margin-top: 0px; background-color: rgba(239, 122, 143, 0.7);/*! opacity: 0.5; */" />


@section scripts{
    <script>window.onload = function () {
            $('.modal-backdrop').remove();
        }</script>


    <script>window.addEventListener('click', function (event) {
            if (event.target.id == "modalchoosesms") {
                $("#modalchoosesms").hide();
                $('#modalchoosesms').modal('hide');
                $("#modalchoosesms").removeClass("show");
                $("#modalchoosesms").css("display", "none");

            }
        });


        $(function () {


            $(".choosetemplatesmsanchor").click(function () {

                $("#modalchoosesms").load("/Home/ChooseSMSText", function () {
                    $("#modalchoosesms").modal();

                    $("#modalchoosesms").addClass("show");
                    $("#modalchoosesms").css("display", "block");
                })


            });


        })</script>
}


