
<header>

    <div class="header-area" style="">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="style-klcq8ljv_bg"></div>
                <div class="row align-items-center no-gutters" width="100%">
                    <div class="col-lg-3">
                        <div class="logo-img">
                            <a href="#">

                                <img src="~/Content/Images/adchime_logo.png" class="img-fluid logoexcelsharetop" style="margin-bottom:20px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 ">
                        <div class="main-menu d-none d-lg-block" style="text-align:right;font-size:14px;">
                            
                            
                            <nav>
                                <ul id="navigation">

                                    @Html.Partial("_LogoutPartial")

                                </ul>
                            </nav>
                        </div>
                    </div>
                    @*<div class="col-lg-1">
                            <div class="language">
                                @Url.LangSwitcher("PT", ViewContext.RouteData, "pt")
                                @Url.LangSwitcher("ES", ViewContext.RouteData, "es")
                                @Url.LangSwitcher("IT", ViewContext.RouteData, "it")
                            </div>
                     </div>*@
                    
                    @*<div class="col-xl-2 col-lg-2">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul >

                                        @Html.Partial("_LogoutPartial")

                                    </ul>
                                </nav>
                            </div>

                        </div>*@

                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
